@section Styles{
    <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<a id="btnEkle"  class="btn btn-primary">EKLE</a>
<table id="tblYayinEvi" class="table table-striped">
</table>

<div class="modal fade" id="modalEkle" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Yazar Ekleme Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="txtYayinAd" class="form-control frmInput" placeholder="Lütfen yayın evi adını giriniz" /><br />
                <input type="text" id="txtYayinAdres" class="form-control frmInput" placeholder="Lütfen yayin evi adres giriniz" /><br />
                <input type="text" id="txtYayinTel" class="form-control frmInput" placeholder="Lütfen yayin telefon giriniz" /><br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                <a id="btnKaydet" class="btn btn-primary">Kaydet</a>
            </div>
        </div>
    </div>
</div>

<script>


</script>

@section Scripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        var DataTable;
        $(document).ready(function(){
            DataTable = $("#tblYayinEvi").DataTable({
                ajax:"/YayinEvi/GetAll",
                columns:[
                    {data:"id",title:"Yayın Evi ID"},
                    {data:"ad",title:"Yayın Evi Adı"},
                    {data:"adres",title:"Yayın Evi Adres"},
                    {data:"tel",title:"Yayın Evi Telefon"},
                    {data:"id",title:"İşlemler",render: function(data,type,row){
                            return `<a onclick="yayinEviSil(${data})" class="btn btn-danger">Sil</a>
                                            <a onclick="yayinEviDuzenle(${data},'${row.ad}','${row.adres}','${row.tel}')" class="btn btn-info">Düzenle</a>`
                        
                    }}
                ]
            })
        })
        function yayinEviDuzenle(id,ad,adres,tel){
            $("#modalEkle").modal("show");
            
            $("#txtYayinAd").val(ad);
            $("#txtYayinAdres").val(adres);
            $("#txtYayinTel").val(tel);
            
            $("#btnKaydet").off().one("click",function(){
                let gonderilecekOlanVeri = {
                    ad: $("#txtYayinAd").val(),
                    adres: $("#txtYayinAdres").val(),
                    tel: $("#txtYayinTel").val(),
                    id: id
                }
                $.ajax({
                    type: "POST",
                    url: "/YayinEvi/Upsert",
                    data: gonderilecekOlanVeri,
                    success: function () {
                        $('#modalEkle').modal('hide');
                        toastr.success("Kayıt başarıyla düzenlenmiştir", "BAŞARILI !");
                        DataTable.ajax.reload();
                    }
                })

            })
           

        }
      
            $("#btnEkle").click(function (){
            $("#modalEkle").modal("show")
            $(".frmInput").val("")
            $("#btnKaydet").off().one("click", function () {
                let gonderilecekVeri = {
                    ad: $("#txtYayinAd").val(),
                    adres: $("#txtYayinAdres").val(),
                    tel: $("#txtYayinTel").val()

                }
                $.ajax({
                    type: "POST",
                    url: "/YayinEvi/Upsert",
                    data: gonderilecekVeri,
                    success: function () {
                        $('#modalEkle').modal('hide');
                        toastr.success("Kayıt başarıyla eklenmiştir", "BAŞARILI !");
                        DataTable.ajax.reload();
                    }
                })
            })




        })
               
      
        function yayinEviSil(id) {

            Swal.fire({
                title: 'Silmek istediğiniz emin misiniz ??',
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır'

            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    $.ajax({
                        type: 'GET',
                        url: '/YayinEvi/Delete',
                        data: {
                            id: id
                        },
                        success: function (res) {

                            toastr.success("Silme işlemi başarılı", "BAŞARILI !")
                            DataTable.ajax.reload();

                        }
                    });
                }
            })
        }


    </script>
}