@model Yazar

<form method="post">
    <input asp-for="Ad" placeholder="Lütfen yazarın adını giriniz" class="form-control"/><br />
    <input asp-for="Ozgecmis" class="form-control" placeholder="Lütfen yazarın özgeçmişini giriniz." />
    <button class="btn btn-outline-primary" type="submit">Kaydet</button>

</form>