@section Styles{
    <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}


<a id="btnEkle" onclick="kitapEkle()" class="btn btn-primary" >EKLE</a>

<table id="tblKitaplar" class="table table-striped">
</table>

<div class="modal fade" id="modalEkle" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Yazar Ekleme Formu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="txtKitapAd" class="form-control frmInput" placeholder="Lütfen kitabın adını giriniz" /><br />
                <input type="text" id="txtKitapIsbn" class="form-control frmInput" placeholder="Lütfen kitabın ısbn numarasını giriniz" /><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                <a id="btnKaydet" class="btn btn-primary">Kaydet</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    

    <script>
            var DataTable;
        
            DataTable=$("#tblKitaplar").DataTable({
                ajax:"/Kitap/GetAll",
                columns: [
                    {data:"id",title:"Kitap ID"},
                    {data:"ad",title:"Kitap Adı"},
                    {data:"isbn",title:"Kitap ISBN"},
                    { data: "yazarlar", title: "Kitap Yazarları" ,render:function(){
                    let yazar=""
                    }},
                { data: "yayinEvleri", title: "Kitap Yayın Evleri" },
                { data: "id", title: "İşlemler" , render: function (data, type, row) {

                    return `<a  onclick="kitapSil(${data})" class="btn btn-danger">Sil</a>
                            <a  class="btn btn-info">Düzenle</a>`
                }
                }
                ]
            })

        function kitapEkle() {
            $("#modalEkle").modal("show");
            $(".frmInput").val('');
            $("#btnKaydet").one("click", function () {
                let gonderilecekVeri = {
                    ad: $("#txtKitapAd").val(),
                    isbn: $("#txtKitapIsbn").val()
                }
                $.ajax({
                    type: "POST",
                    url: "/Kitap/Add",
                    data: gonderilecekVeri,
                    success: function () {
                        $("#modalEkle").modal("hide");
                        toastr.success("Kayıt başarıyla eklenmiştir", "BAŞARILI !");
                        DataTable.ajax.reload();
                    }
                });
            });
        }
            

        function kitapSil(disaridanGelenId) {

            Swal.fire({
                title: 'Silmek istediğiniz emin misiniz ??',
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır'

            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/Kitap/DeleteAjax',
                        data: {
                            id: disaridanGelenId
                        },
                        success: function (res) {
                            $("#trKitapid-" + disaridanGelenId).remove();

                            toastr.success("Silme işlemi başarılı", "BAŞARILI !")
                            DataTable.ajax.reload();
                        }
                    });



                }
            })






        }

    </script>
   
}